@font-face {
    font-family: "Libre Baskerville", sans-serif;
    src: url(../font/LibreBaskerville-Regular.ttf)
}


@font-face {
    font-family: "Karla", sans-serif;
    src: url(../font/Karla-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: serif, sans-serif;
    font-family: karla, sans-serif;
    font-family: Libre Baskerville, sans-serif;

}

:root {
    --main-font: 16px;
    --logo-font: 30px;
    --headline-font: 25px;
    --sub-headline-font: 18px;
    --banner-font-size: 65px;
    --heading-size: 46px;
    --text-font-size: 14px;
    --main-color: #272626;
    --white-font: #ffffff;
    --secondary_color: #AF7F66;
    --primary_color: #272626;
    --disable-color: #af8066c9;
    --product_background_color: #F8F7F6;
    --dark_text: #242424;
    --body_font: #868686;
    --dark_background_text: #ffffff;
    --body-color: #fff;
    --container-bg: #f7f6f5;
    --sections-header-bg: #f4f2f2;
    --heading: "LibreBaskerville";
    --text-font: "karla";
}
html {
    scroll-behavior: smooth;
}

/* start of Navbar */
#nav-bar {
    display: flex;
    position: fixed;
    background-color: var(--white-font);
    font-family: var(--heading);
    top: 0;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    text-transform: uppercase;
    color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    z-index: 1000;
    margin-bottom: -50px;
}

.responsive-counter {
    display: none;
}

.menu-div {
    display: none;
    width: var(--headline-font);
    height: var(--headline-font);
    cursor: pointer;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    align-items: center;
}

.nav-div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.nav-div ul li {
    padding: 0 2rem;
    align-items: center;
}


.sign-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-div {
    margin-right: 1rem;
}

.user-img,
.cart-img {
    width: var(--main-font);
    height: var(--main-font);
    cursor: pointer;
}

.link {
    color: var(--main-color);
    padding: 0 .2rem;
    align-items: center;
}

.link:hover {
    color: var(--secondary_color);
}

logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Logo-p {
    font-size: var(--logo-font);
    font-weight: 600;
    color: var(--main-color);
    text-transform: capitalize;
    font-style: italic;
    margin-top: 1.2rem;
}

.logo-div span {
    color: var(--secondary_color);
}

/* End of Navbar */
/* start of sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1110;
    top: 0;
    left: 0;
    background-color: var(--white-font);
    box-shadow: 0 0 5px var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    font-size: var(--sub-headline-font);
    color: var(--main-color);
    display: block;
    transition: 0.3s;
}

.sidenav ul {
    margin-top: 30%;
}

.closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 50px;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 900;
    margin-left: 50px;
}

.sidenav .link:hover {
    color: var(--secondary_color);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5%;
    gap: 1rem;
}

/* End of prodacts-list */


/* Header Cart */

/* Cart count and icon */

.cart-div {
    position: relative;
    cursor: pointer;
}


#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--main-color);
    color: var(--white-font);
    border-radius: 50%;
    padding: 5px 10px;
}

.cart-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--white-font);
    border: 1px solid var(--main-color);
    padding: 10px;
    width: max-content;
    box-shadow: 0 2px 10px var(--main-color);
    z-index: 99999;
}

.cart-div:hover .cart-dropdown {
    display: block;
}

/* Cart Dropdown */


ul#cart-items {
    flex-direction: column;
}

.cart-dropdown-btns {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.cart-dropdown-btns a.cart-button {
    border: var(--secondary_color);
    color: var(--primary_color);
    background-color: var(--dark_background_text);
    border: 1px solid var(--main-color);
    color: var(--primary_color);
    margin-top: 10px;
    padding: 10px;
}

.cart-dropdown-btns a.cart-button:hover {
    background-color: var(--secondary_color);
    color: var(--white-font);
    border: var(--secondary_color);
}

.cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-dropdown ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.cart-dropdown ul li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.remove-from-cart {
    background-color: var(--secondary_color);
    color: var(--white-font);
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-from-cart:hover {
    background-color: var(--secondary_color);
}

/* cart Dropdown checkout button */

.checkout-button {
    display: block;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-font);
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.checkout-button:hover {
    background-color: var(--secondary_color);
    color: var(--white-font);
}

/* Breadcrumb Container */

.breadcrumb-container {
    background-image: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url(../images/page-title.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.breadcrumb-container h1 {
    color: var(--white-font);
}

#breadcrumb {
    color: var(--white-font);
}

#breadcrumb a {
    color: var(--white-font);
    text-decoration: none;
    margin: 0 5px;
    font-size: var(--sub-headline-font);
}

#breadcrumb a:hover {
    text-decoration: underline;
}


/* Products Page */

/* Sort dropdown */

#sort-dropdown {
    margin: 30px 50px;
    display: flex;
    justify-content: flex-end;
}

select#sort-by {
    padding: 10px 2em 10px 10px;
    font-size: var(--main-font);
    background-color: var(--product_background_color);
    border: 1px solid var(--product_background_color);
    box-shadow: 0 0 2px var(--main-color);
}

/* Products container */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product {
    background-color: var(--product_background_color);
    margin: 10px;
    padding: 20px;
    width: 23%;
    box-shadow: 0 0px 1px var(--main-color);
    text-align: center;
    position: relative;
    transition: all 0.6s ease-in-out, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product a {
    font-size: var(--main-font);
    margin: 10px 0;
    color: var(--dark_text);
    text-transform: uppercase;
}

.product p :nth-child(1) {
    color: var(--dark_text);
    font-size: 14px;
}

.product .price {
    font-size: var(--main-font);
    color: var(--dark_text);
    margin: 10px 0;
}

.add-to-cart {
    border: var(--secondary_color) 1px solid;
    padding: 15px 15px;
    background-color: var(--product_background_color);
    display: none;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    /* Position the button absolutely within the product card */
    bottom: 20px;
    /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    text-transform: uppercase;
}

.add-to-cart:hover {
    border: var(--secondary_color) 1px solid;
    color: var(--dark_background_text);
    transition: 0.4s;
    background-color: var(--secondary_color);
}

.product:hover .add-to-cart {
    display: block;
}

.product:hover img {
    transform: scale(1.4, 1.4);
    transition: 0.4s;
}

.product:hover {
    transform: scale(.97, .97);
    transition: 0.4s;
}



/* Product Page */

/* Back Button */
.back-button {
    background-color: var(--secondary_color);
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: --main-font;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: var(--secondary_color);
}

/* Related Products */

.related-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.related-product {
    background-color: var(--white-font);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 5px var(--main-color);
    text-align: center;
}

.related-product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 15px;
}

.related-product h2 {
    font-size: var(--sub-headline-font);
    margin: 10px 0;
}

.related-product p {
    color: var(--main-color);
    font-size: 14px;
}

.related-product .price {
    font-size: var(--main-font);
    color: var(--main-color);
    margin: 10px 0;
}

/* end of products page  */

/* start of cart page */

.cart-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.Cart-title {
    font-family: var(--heading);
    text-align: center;
    margin-bottom: 20px;
}

.table thead {
    background-color: var(--primary_color);
    color: var(--white-font);
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

tbody {
    width: 100%;
    background-color: var(--product_background_color);
}

.cart-actions,
.cart-totals {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-totals {
    flex-direction: column;
    gap: 10px;
}

.cart-actions input,
.cart-actions button {
    padding: 10px;
}

#total-price {
    font-weight: 600;
    font-size: var(--sub-headline-font);
}

#apply-coupon,
#checkout {
    background-color: var(--main-color);
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#update-cart {
    background-color: var(--main-color);
    color: var(--white-font);
    border: none;
    padding: 1% 2%;
    cursor: pointer;
}

#apply-coupon:hover,
#update-cart:hover,
#checkout:hover {
    background-color: var(--secondary_color);
}

.remove-item {
    background-color: var(--main-color);
    width: 100%;
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.total-p {
    font-family: var(--heading);
    font-size: var(--headline-font);
    font-weight: 600;
    margin-bottom: 20px;
}


/* p-div from order details page */
.p-total,
.p-div {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: var(--sub-headline-font);
    font-weight: 600;
}

.sub-p1 {
    width: 40%;
    border: 1px solid var(--body_font);
    background-color: var(--main-color);
    color: var(--white-font);
    padding: 10px;
    font-size: var(--sub-headline-font);
    font-weight: 600;
}

.sub-p {
    width: 60%;
    border: 1px solid var(--body_font);
    padding: 10px;
    font-size: var(--sub-headline-font);
    font-weight: 600;
    text-align: center;
}

.btn-checkout,
.btn-cancel,
.btn-log {
    width: 40%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    background-color: var(--main-color);
    font-size: var(--sub-headline-font);
    color: var(--white-font);
    text-align: center;
    cursor: pointer;
}

.btn-checkout:hover,
.remove-item:hover,
.btn-cancel:hover,
.btn-log:hover {
    background-color: var(--secondary_color);
    border: none;
}

#cart-items tr td input {
    width: 100%;
    padding: 2px 3px;
    text-align: center;
}

#cart-items tr td img {
    width: 50px;
    height: 50px;
}

/* End of cart page */

/* start of checkout page - address form */

.address-form,
.add-card {
    padding: 20px;
    box-shadow: 0 0 5px var(--main-color);
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--main-color);
}

.form-control:focus {
    border: 1px solid var(--secondary_color);
    background-color: var(--disable-color);
    color: var(--white-font);
    box-shadow: none;
}

.form-control:-webkit-autofill {
    background-color: var(--disable-color) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--disable-color) inset !important;
    box-shadow: 0 0 0 1000px var(--disable-color) inset !important;
    color: var(--white-font) !important;
}

.text-center {
    font-family: var(--heading);
    font-weight: 500;
}

.btn-address {
    width: 20%;
    background-color: var(--main-color);
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-address:hover {
    background-color: var(--secondary_color);
    color: var(--white-font);
}

/* end of checkout page - address form */

/* start of checkout page -  order details */

.p-div {
    margin-top: -10px;
}

.select-sty {
    width: 100%;
    border: none;
    text-align: center;
    font: var(--main-font) 600;
}

.cart-edit .rm-cart {
    display: none;
}

.cart-edit .remove-item {
    display: none;
}

.edit {
    display: none;
}

.timeline {
    display: flex;
    position: relative;
    margin: 2% 0;
}

/* Line between steps */
.timeline::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 6px;
    background: #e0d4c7;
    z-index: 1;
}

/* Filled part of the progress bar */
.timeline-progress {
    position: absolute;
    top: 45%;
    left: 0;
    height: 8px;
    background: #b68765;
    width: 25%;
    z-index: 2;
    transition: width 0.4s ease;
}

/* Timeline steps */
.timeline-step {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

/* Circle for each step */
.circle {
    background: #e0d4c7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Active step (Processing) */
.timeline-step.active {
    align-items: start;
}

.timeline-step.active .circle {
    background: #b68765;
}

/* Icon images */
.timeline-step .icon {
    width: 30px;
    height: 30px;
}

/* Text styling */
.timeline-step p {
    margin-top: 10px;
    font-size: 14px;
    color: var(--main-color);
}

/* Custom classes for Delivered step */

.special {
    align-items: end;
}


/* end of checkout page  */


/* Start of Contact Page */

/* Contact boxes */

.contact-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contact-box {
    border: solid 1px #d7d6d5;
    padding: 30px;
    text-align: center;
    width: 22%;
}



.contact-box h4 {
    margin-bottom: 1em;
    font-weight: 300;
}

.contact-box p,
.contact-box a {
    color: var(--secondary_color);
    font-size: 14px;
}

.contact-box p:hover,
.contact-box a:hover {
    color: var(--primary_color);

}

/* Form section */

.form-section {
    margin: 50px auto;
}

.form-section h2 {
    margin: 20px;
    text-align: center;
}

.form-control {
    border-radius: 0;
}

.form-box .btn.btn-primary {
    border-radius: 0;
    background-color: var(--primary_color);
    color: var(--dark_background_text);
    border: 1px solid var(--primary_color);
}

/* End of Contact Page */

.log-div {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}

.login-form {
    padding: 20px;
    box-shadow: 0 0 5px var(--main-color);
}

.register {
    margin-top: 3%;
}

.login-btn {
    width: 100%;
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--secondary_color);
    color: var(--white-font);
}



/* Start of Footer */
.footer-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--white-font);
    box-shadow: 0 0 5px var(--main-color);
    z-index: 1000;
}

.name-div a {
    font-size: var(--headline-font);
    font-weight: 600;
    color: var(--white-font);
    text-transform: capitalize;
    font-style: italic;
}

.name-div span {
    color: var(--secondary_color);
}

.social-icons {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
    border-bottom: 1px groove var(--body_font);
}

.social-icons a {
    color: var(--white-font);
    fill: var(--white-font);
}

.social-icons img {
    width: var(--headline-font);
    height: var(--headline-font);
    margin: 0 .5rem;
    color: var(--white-font);
    fill: var(--white-font);
    filter: invert(100%) brightness(1000%);

}

.footer-p p {
    font-size: var(--main-font);
    text-align: center;
    color: var(--white-font);
}

.name-div a p {
    font-size: var(--logo-font);
    font-weight: 600;
    color: var(--white-font);
    text-transform: capitalize;
    font-family: var(--heading);
    font-style: italic;
}

/* End of Footer */





@media only screen and (max-width: 1024px) {
    .product {
        width: 30%;
    }

    .contact-box {
        width: 48%;
    }
}

@media only screen and (max-width: 768px) {
    .logo-div {
        width: 60%;
        text-align: center;
    }

    #sort-dropdown {
        justify-content: center;
    }

    .product {
        width: 46%;
    }

    .product {
        width: 40%;
    }

    .contact-box {
        width: 100%;
    }

    .nav-div ul {
        display: none;
    }

    .login-div {
        display: none;
    }

    .sp {
        display: none;
    }

    .cart-img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .responsive-counter {
        background-color: var(--main-color);
        border-radius: 50%;
        padding: .2px 8px;
        display: block;
        margin-bottom: -.8rem;
        margin-left: 1rem;
        color: var(--white-font);
    }

    .menu-div {
        display: block;
    }

    .cart-div {
        margin-top: .5rem;
    }

    .product-name {
        display: none;
    }

    .th-special {
        display: none;
    }

    #coupon-code {
        width: 40%;
    }

    #update-cart {
        width: 50%;
    }

    .btn-checkout,
    .btn-cancel,
    .btn-log,
    .btn-address {
        width: 60%;
    }
}


@media only screen and (max-width: 344px) {
    .product {
        width: 100%;
    }

    .sp-sub {
        display: none;
    }

    #coupon-code {
        width: 25%;
    }

    #update-cart {
        width: 55%;
        padding: 4% 2.5%;
    }

    .timeline-progress {
        top: 35%;
        height: 14px;
    }

    .timeline::before {
        top: 35%;
        height: 14px;
    }

    .remove-item {
        font-size: var(--main-font);
        padding: 5px;
    }

    .copyright-div {
        font-size: 12px;
    }
    .btn-checkout,
    .btn-cancel,
    .btn-log,
    .btn-address {
        width: 80%;
    }
}
/* ================================================ START oF HOME ============================================== */

/*=============== REUSABLE CSS CLASSES ===============*/
.Section {
    margin: 50px auto;
    width: 90%;
}

@media screen and (max-width: 1200px) {
    .Section {
        margin: 50px auto;
        width: 98%;
    }
}

.Cursor {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(134, 134, 134, 0.393);
    z-index: 999;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

/*=============== HEADER & NAV ===============*/
#header {
    height: 70px;
}

/*=============== Banner ===============*/
.Banner {
    background-color: var(--sections-header-bg);
    overflow: hidden;
    position: relative;
    height: 700px;
    display: none;
    opacity: 0;
}

.Banner .ScrollR-whiteLayer {
    position: absolute;
    background-color: var(--white-font);
    left: 0;
    width: 50%;
    height: 100%
}

.Banner .Img--Side {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.Banner .Watch--Box {
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Watch--Box .Center-Watch {
    position: absolute;
    top: 90px;
    height: 520px;
    z-index: 10;
    animation-name: WatchMovement;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes WatchMovement {
    0% {
        translate: 0 0;
    }

    25% {
        translate: 0 10px;
    }

    50% {
        translate: 0 0;
    }

    75% {
        translate: 0 -10px;
    }

    100% {
        translate: 0 0;
    }

}

.Banner .Slider--Text {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.Banner .Text--container {
    position: absolute;
    top: 150px;
    right: 0;
    padding:  60px  0px;
}

.Text--container .Title--Slider {
    font-size: var(--banner-font-size);
    font-family: var(--head-font);
    color: var(--dark_text);
    font-weight: 300;
}

.Text--container .Paragraph--Slider {
    font-family: var(--text-font);
    font-size: var(--main-font);
    color: var(--body_font);
    padding-block: 20px;
    line-height: 20px;
}

.btn {
    border: 2px solid rgba(134, 134, 134, 0.393);
    background-color: transparent;
    padding: 10px;
    width: 120px;
    transition: background-color 0.3s;
}

.btn a {
    font-size: var(--main-font);
    font-family: var(--text-font);
    color: var(--body_font);
    text-transform: uppercase;
    transition: color 0.3s;
}

.btn:hover {
    background-color: var(--dark_text);
}

.btn:hover a {
    color: var(--white-font);
}

.Slider--Controls {
    /* background-color: blueviolet; */
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: var(--main-font);
}

.Next,
.Prev,
.Wall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    overflow-x: hidden;
}

.Next--Arrow,
.Prev--ArroW {
    font-size: var(--main-font);
    font-weight: 600;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

.Next--Word,
.Prev--Word {
    font-family: var(--text-font);
    text-transform: uppercase;
    transition: opacity 3ms ease;
    transition: transform 0.8s ease;
}

.Next--Line,
.prev--Line {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: black;
    margin-inline: 10px;
    transition: transform 1s;
}

.Prev {
    color: var(--white-font);
}

.prev--Line {
    background-color: var(--white-font);
}

.Next:hover .Next--Word,
.Next:hover .Next--Line {
    transform: translate(40px, 0);
}

.Prev:hover .Prev--Word,
.Prev:hover .prev--Line {
    transform: translate(-72px, 0);
}

.active {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
}

@media screen and (max-width: 1360px) {

    .Banner,
    .Banner .Img--Side {
        height: 500px;
    }

    .Banner .Img--Side {
        height: 500px;
    }

    .Banner .Center-Watch {
        top: 50px;
        height: 400px;
    }

    .Banner .Slider--Text {
        width: 40%;
    }

    .Banner .Text--container {
        padding: 30px;
        top: 90px;
    }

    .Text--container .Title--Slider {
        font-size: var(--heading-size);
    }
}

@media screen and (max-width: 1090px) {

    .Banner,
    .Banner .Img--Side {
        height: 440px;
    }

    .Banner .Center-Watch {
        height: 340px;
        top: 50px;
    }

    .Banner .Slider--Text {
        width: 40%;
    }

    .Banner .Text--container {
        padding: 30px;
        top: 90px;
    }

    .Text--container .Title--Slider {
        font-size: var(--heading-size);
    }

    .Text--container .Paragraph--Slider {
        font-size: var(--text-font-size);
    }
}

@media screen and (max-width: 970px) {

    .Banner,
    .Banner .Img--Side {
        height: 300px;
    }

    .Banner .Center-Watch {
        height: 200px;
    }

    .Banner .Text--container {
        top: 0;
    }

    .Text--container .Title--Slider {
        font-size: 35px;
    }
}

@media screen and (max-width: 770px) {

    .Banner,
    .Banner .Img--Side {
        height: 230px;
    }

    .Banner .Center-Watch {
        height: 130px;
        top: 50px;
    }

    .Next--Word,
    .Prev--Word {
        display: none;
    }

    .Text--container .Title--Slider {
        font-size: 20px;
    }

    .Banner .Text--container {
        padding: 30px 0;
    }

    .Text--container .Paragraph--Slider {
        font-size: 10px;
    }

    .btn {
        width: 80px;
    }

    .btn a {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {

    .Banner .Img--Side,
    .Banner .ScrollR-whiteLayer,
    .Paragraph--Slider {
        display: none;
    }

    .Banner .Center-Watch {
        height: 135px;
        top: 12px;
    }

    .Prev {
        color: black;
    }

    .prev--Line {
        background-color: black;
    }

    .Banner .Slider--Text {
        background-color: darkgrey;
        height: fit-content;
        left: 90px;
    }

    .Banner .Text--container {
        padding: 0;
        top: 150px;
    }

    .Text--container .Title--Slider {
        font-size: 15px;
    }

    .btn {
        width: 65px;
    }

    .btn a {
        font-size: 8px;
    }
}

@media screen and (max-width: 375px) {
    .Slider--Controls {
        display: none;
    }
}

@media screen and (max-width: 240px) {
    .Banner {
        height: 300px;
    }

    .Banner .Slider--Text {
        left: 50px;
    }
}

/*=============== Collection ===============*/
.Collection {
    position: relative;
    background-color: orange;
    height: 500px;
}

.Collection .Collection--img {
    object-fit: cover;
    object-position: 20%;
    height: 100%;
    width: 100%;
}

.Collection--Text--container {
    position: absolute;
    inset: 0;
    padding: 100px;
}

.Collection--Title {
    font-size: var(--heading-size);
    font-family: var(--heading);
    color: var(--white-font);
}

.Collection .Collection--Paragraph {
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    color: var(--body_font);
    line-height: 30px;
    padding-block: 20px;
    font-weight: 300;
    white-space: nowrap;
}

.Dark--btn {
    border: 2px solid var(--body_font);
    background-color: transparent;
    padding: 12px;
    width: 180px;
    transition: background-color 0.3s;
}

.Dark--btn a {
    font-size: var(--main-font);
    font-family: var(--text-font);
    color: var(--white-font);
    text-transform: uppercase;
    transition: color 0.3s;
}

.Dark--btn:hover {
    background-color: var(--white-font);
    color: var(--body_font);
}

.Dark--btn:hover a {
    color: var(--body_font);
}

@media screen and (max-width: 1200px) {
    .Collection .Collection--img {
        height: 500px;
    }

    .Collection--Title {
        font-size: var(--heading-size);
    }

    .Collection .Collection--Text--container {
        padding: 146px 136px;
    }
}

@media screen and (max-width: 990px) {
    .Collection--Title {
        font-size: 30px;
    }

    .Collection .Collection--Text--container {
        padding: 146px 136px;
    }
}

@media screen and (max-width: 870px) {
    .Collection .Collection--Text--container {
        padding: 200px 146px;
    }

    .Collection .Collection--Paragraph {
        line-height: 20px;
        font-size: 12px;
        padding-block: 35px;
        font-weight: 500;
    }
}

@media screen and (max-width: 767px) {
    .Section {
        margin: 0 0 50px;
    }

    .Collection {
        background-color: var(--dark_text);
        height: 330px;
        width: 100%;
    }

    .Collection .Collection--img {
        display: none;
    }

    .Collection .Collection--Text--container {
        padding: 50px 73px;
    }
}

@media screen and (max-width: 588px) {
    .Collection .Collection--Paragraph {
        white-space: normal;
    }

    .Collection .Collection--Text--container {
        padding: 7px;
    }

    .Collection .Collection--Title {
        font-size: 28px;
    }

    .Dark--btn {
        width: 120px;
        padding: 6px;
    }

    .Dark--btn a {
        font-size: 11px;
        font-weight: 300;
    }
}

@media screen and (max-width: 330px) {
    .Collection {
        background-color: var(--dark_text);
        height: 450px;
    }

    .Collection .Collection--Text--container {
        padding: 20px;
    }
}

@media screen and (max-width: 210px) {
    .Collection {
        background-color: var(--dark_text);
        height: 650px;
    }
}

@media screen and (max-width: 145px) {
    body {
        overflow: hidden;
    }

    .Collection .Collection--Title {
        font-size: 20px;
    }

    .Collection {
        background-color: var(--dark_text);
        height: 750px;
    }

    .Dark--btn {
        width: 100px;
        padding: 3px;
    }

    .Dark--btn a {
        font-size: 8px;
        font-weight: 300;
    }

}

/*=============== ShopCategory ===============*/
.ShopCategory {
    /* background-color: orangered; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    z-index: -1;
}

.Woman--shop,
.Men--shop {
    position: relative;
    background-color: var(--container-bg);
    width: 49%;
    height: 100%;
    padding: 30px;
    transition: scaleY 0.3s;

    overflow: hidden;
    z-index: 2;
}

.Woman--shop .Shop--Woman--Img,
.Men--shop .Shop--Men--Img {
    /* background-color: #af7f66; */
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    z-index: 1;
}

.Woman--shop .Shop--Box,
.Men--shop .Shop--Box {
    position: absolute;
    bottom: 70px;
    right: 0;
    padding: 30px 80px;
}

.Woman--shop .Shop--Small--Title,
.Men--shop .Shop--Small--Title {
    font-family: var(--text-font);
    font-size: 14px;
    color: var(--secondary_color);
    text-transform: uppercase;
    text-align: center;
}

.Woman--shop .Shop--Category,
.Men--shop .Shop--Category {
    position: relative;
    font-family: var(--heading);
    font-size: var(--heading-size);
    color: var(--dark_text);
    font-weight: 400;
}

.Woman--shop .Shop--Category::after,
.Men--shop .Shop--Category::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background-color: var(--dark_text);
    transition: 0.3s;
}

.Woman--shop:hover,
.Men--shop:hover {
    transform: scaleY(0.90);
}

.Woman--shop:hover .Shop--Category::after,
.Men--shop:hover .Shop--Category::after {
    width: 100%;
}

@media screen and (max-width: 1400px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -30px;
    }
}

@media screen and (max-width:1250px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -45px;
    }
}

@media screen and (max-width:1100px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -60px;
    }
}

@media screen and (max-width: 1023px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -100px;
    }

    .Woman--shop .Shop--Box,
    .Men--shop .Shop--Box {
        bottom: 50px;
        right: 70px;
    }

    .Woman--shop .Shop--Category,
    .Men--shop .Shop--Category {
        font-size: 35px;
    }
}

@media screen and (max-width: 855px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -150px;
    }

    .Woman--shop .Shop--Box,
    .Men--shop .Shop--Box {
        bottom: 50px;
        right: 65px;
    }
}

@media screen and (max-width: 715px) {
    .ShopCategory {
        width: 100%;
    }

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -180px;
    }

    .Woman--shop .Shop--Box,
    .Men--shop .Shop--Box {
        bottom: 10px;
        right: 55px;
    }
}

@media screen and (max-width: 600px) {
    .ShopCategory {
        flex-direction: column;
        height: 700px;
    }

    .Woman--shop,
    .Men--shop {
        width: 100%;
        height: 325px;
    }

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -20px;
    }

    .Woman--shop .Shop--Box,
    .Men--shop .Shop--Box {
        bottom: 30px;
        right: 90px;
    }
}

@media screen and (max-width: 520px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -110px;
    }
}

@media screen and (max-width: 380px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -170px;
    }

    .Woman--shop .Shop--Box,
    .Men--shop .Shop--Box {
        bottom: 20px;
        right: 30px;
    }
}

@media screen and (max-width: 280px) {

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -210px;
    }

    .Woman--shop .Shop--Box,
    .Men--shop .Shop--Box {
        bottom: 20px;
        right: 0px;
        left: -40px;
    }
}

@media screen and (max-width: 170px) {

    .Woman--shop .Shop--Category,
    .Men--shop .Shop--Category {
        font-size: 20px;
    }

    .Woman--shop .Shop--Woman--Img,
    .Men--shop .Shop--Men--Img {
        left: -240px;
    }
}

/*=============== OurBestSeller ===============*/
.OurBestSellers {
    height: 600px;
}

.OurBestSellers .OurBestSeller--Title {
    font-family: var(--heading);
    font-size: var(--heading-size);
    color: var(--dark_text);
    text-align: center;
}

@media screen and (max-width: 310px) {
    .OurBestSellers .OurBestSeller--Title {
        font-size: 30px;
    }
}

/*=============== OurStory ===============*/
.OurStory {
    /* background-color: #af7f66; */
    position: relative;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OurStory .Brown--Layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 40%;
    background-color: var(--secondary_color);
    z-index: 3;
}

.OurStory .Dark--Layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 40%;
    background-color: var(--dark_text);
    z-index: 4;
}

.Our--Story--Img {
    /* position: absolute;
  top: 0;
  left: 0; */
    height: 700px;
    width: 40%;
    object-fit: cover;
    object-position: center;
    z-index: 5;
}

.OurStory--Box {
    padding: 0px 40px;
    width: 50%;
}

.OurStory--Title {
    font-family: var(--heading);
    font-size: var(--heading-size);
    color: var(--dark_text);
    font-weight: 400;
}

.OurStory--Paragraph {
    font-family: var(--text-font);
    font-size: var(--main-font);
    color: var(--body_font);
    margin-block: 20px;
    line-height: 25px;
}

.OurStory .btn {
    width: 200px;
}

@media screen and (max-width: 980px) {
    .OurStory {
        height: 500px;
    }

    .Our--Story--Img,
    .OurStory .Brown--Layer,
    .OurStory .Dark--Layer {
        top: 10%;
        height: 400px;
    }

    .OurStory--Box {
        top: 20%;
    }
}

@media screen and (max-width: 770px) {
    .Section {
        width: 100%;
    }

    .OurStory {
        height: 800px;
        flex-direction: column;
    }

    .Our--Story--Img {

        width: 100%;
        height: 600px;
    }

    .OurStory .Dark--Layer,
    .OurStory .Brown--Layer {
        display: none;
    }

    .OurStory--Box {
        padding: 30px 40px;
        width: 100%;
    }
}

@media screen and (max-width: 487px) {
    .OurStory {
        height: 800px;
        flex-direction: column;
    }

    .Our--Story--Img {
        width: 100%;
        height: 600px;
    }

    .OurStory .Dark--Layer,
    .OurStory .Brown--Layer {
        width: 100%;
        height: 520px;
    }

    .OurStory--Box {
        padding: 30px 40px;
        width: 100%;
    }
}

@media screen and (max-width: 487px) {
    .OurStory .btn {
        width: 100px;
    }
}

@media screen and (max-width: 180px) {
    .OurStory--Title {
        font-size: 30px;
    }
}

/*=============== SCROLL UP ===============*/
/* Show Scroll Up*/
.ScrollUp {
    background-color: var(--secondary_color);
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.ScrollUp .ri-arrow-up-s-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-font);
    font-size: 20px;
    font-weight: 100;
}

.ScrollUp:hover {
    background-color: #af8066b9;
}

/* ================================================ END oF HOME ============================================== */
