@font-face {
    font-family: "Libre Baskerville", sans-serif;
    src: url(assets/font/LibreBaskerville-Regular.ttf)
}


@font-face {
    font-family: "Karla", sans-serif;
    src: url(assets/font/Karla-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: serif, sans-serif;
    font-family: karla, sans-serif;
    font-family: Libre Baskerville, sans-serif;

}

:root {
    --main-font: 16px;
    --headline-font: 25px;
    --sub-headline-font: 18px;
    --main-color: #272626;
    --white-font: #ffffff;
    --secondary_color: #AF7F66;
    --primary_color: #272626;
    --disable-color: #272626C2;
    --product_background_color: #F8F7F6;
    --dark_text: #242424;
    --body_font: #868686;
    --dark_background_text: #ffffff;
    --heading: "LibreBaskerville";
    --text-font: "karla";
}

/* start of Navbar */
#nav-bar {
    display: flex;
    position: fixed;
    background-color: var(--white-font);
    font-family: var(--heading);
    top: 0;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    text-transform: uppercase;
    color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    z-index: 1000;
}

.menu-div {
    /* display: none; */
    width: var(--headline-font);
    height: var(--headline-font);
    cursor: pointer;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    align-items: center;
}

.nav-div ul {
    display: flex;
    justify-content: space-between;
}

.nav-div ul li {
    padding: 0 2rem;
}


.sign-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-div ul li {
    padding: 0 .5rem;
}

.user-img,
.cart-img {
    width: var(--main-font);
    height: var(--main-font);
    margin-bottom: -2.7px;
    cursor: pointer;
}

.link {
    color: var(--main-color);
    padding: 0 .2rem;
}

.link:hover {
    color: var(--secondary_color);
}

.logo-div p {
    font-size: var(--headline-font);
    font-weight: 600;
    color: var(--main-color);
    text-transform: capitalize;
    font-style: italic;
}

.logo-div span {
    color: var(--secondary_color);
}

/* End of Navbar */
/* start of sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1110;
    top: 0;
    left: 0;
    background-color: var(--white-font);
    box-shadow: 0 0 5px var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    font-size: var(--sub-headline-font);
    color: var(--main-color);
    display: block;
    transition: 0.3s;
}

.closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 50px;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 900;
    margin-left: 50px;
}

.login-div-side {
    margin-top: 1rem;
}

.user-img-side,
.cart-img-side {
    width: var(--main-font);
    height: var(--main-font);
    margin-bottom: -30px;
    cursor: pointer;
}

.login-div-side,
.cart-div-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.login-div-side a,
.cart-div-side a {
    margin-left: 1rem;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
    padding: 3rem 100px;
}

/* End of prodacts-list */


/* Header Cart */

/* Cart count and icon */

.cart-div {
    position: relative;
    cursor: pointer;
}


#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--main-color);
    color: var(--white-font);
    border-radius: 50%;
    padding: 5px 10px;
}

.cart-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--white-font);
    border: 1px solid var(--main-color);
    padding: 10px;
    width: max-content;
    box-shadow: 0 2px 10px var(--main-color);
    z-index: 99999;
}

.cart-div:hover .cart-dropdown {
    display: block;
}

/* Cart Dropdown */


ul#cart-items {
    flex-direction: column;
}

.cart-dropdown-btns {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.cart-dropdown-btns a.cart-button {
    border: var(--secondary_color);
    color: var(--primary_color);
    background-color: var(--dark_background_text);
    border: 1px solid var(--main-color);
    color: var(--primary_color);
    margin-top: 10px;
    padding: 10px;
}

.cart-dropdown-btns a.cart-button:hover {
    background-color: var(--secondary_color);
    color: var(--white-font);
    border: var(--secondary_color);
}

.cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-dropdown ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.cart-dropdown ul li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.remove-from-cart {
    background-color: var(--secondary_color);
    color: var(--white-font);
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-from-cart:hover {
    background-color: var(--secondary_color);
}

/* cart Dropdown checkout button */

.checkout-button {
    display: block;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-font);
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.checkout-button:hover {
    background-color: var(--secondary_color);
}

/* Breadcrumb Container */

.breadcrumb-container {
    background-image: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url(../images/page-title.png);
    background-size: cover;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.breadcrumb-container h1 {
    color: var(--white-font);
}

#breadcrumb {
    color: var(--white-font);
}

#breadcrumb a {
    color: var(--white-font);
    text-decoration: none;
    margin: 0 5px;
    font-size: var(--sub-headline-font);
}

#breadcrumb a:hover {
    text-decoration: underline;
}


/* Products Page */

/* Sort dropdown */

#sort-dropdown {
    margin: 30px 50px;
    display: flex;
    justify-content: flex-end;
}

select#sort-by {
    padding: 10px 2em 10px 10px;
    font-size: var(--main-font);
    background-color: var(--product_background_color);
    border: 1px solid var(--product_background_color);
    box-shadow: 0 0 2px var(--main-color);
}

/* Products container */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product {
    background-color: var(--product_background_color);
    margin: 10px;
    padding: 20px;
    width: 23%;
    box-shadow: 0 0px 1px var(--main-color);
    text-align: center;
    position: relative;
    transition: all 0.6s ease-in-out, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product a {
    font-size: var(--main-font);
    margin: 10px 0;
    color: var(--dark_text);
    text-transform: uppercase;
}

.product p :nth-child(1) {
    color: var(--dark_text);
    font-size: 14px;
}

.product .price {
    font-size: var(--main-font);
    color: var(--dark_text);
    margin: 10px 0;
}

.add-to-cart {
    border: var(--secondary_color) 1px solid;
    padding: 15px 15px;
    background-color: var(--product_background_color);
    display: none;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    /* Position the button absolutely within the product card */
    bottom: 20px;
    /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    text-transform: uppercase;


}

.add-to-cart:hover {

    border: var(--secondary_color) 1px solid;
    color: var(--dark_background_text);
    transition: 0.4s;
    background-color: var(--secondary_color);

}

.product:hover .add-to-cart {
    display: block;
}

.product:hover img {
    transform: scale(1.4, 1.4);
    transition: 0.4s;
}

.product:hover {
    transform: scale(.97, .97);
    transition: 0.4s;
}



/* Product Page */

/* Back Button */
.back-button {
    background-color: var(--secondary_color);
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: --main-font;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: var(--secondary_color);
}

/* Related Products */

.related-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.related-product {
    background-color: var(--white-font);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 5px var(--main-color);
    text-align: center;
}

.related-product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 15px;
}

.related-product h2 {
    font-size: var(--sub-headline-font);
    margin: 10px 0;
}

.related-product p {
    color: var(--main-color);
    font-size: 14px;
}

.related-product .price {
    font-size: --main-font;
    color: var(--main-color);
    margin: 10px 0;
}

/* end of products page  */

/* start of cart page */

.cart-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.Cart-title {
    text-align: center;
    margin-bottom: 20px;
}

.cart_table {
    width: 100%;
    border-collapse: collapse;
}

.cart_table thead {
    background-color: var(--primary_color);
    color: var(--white-font);
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

tbody {
    width: 100%;
    background-color: var(--product_background_color);
}

.cart-actions,
.cart-totals {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-totals {
    flex-direction: column;
    gap: 10px;
}

.cart-actions input,
.cart-actions button {
    padding: 10px;
}

#total-price {
    font-weight: 600;
    font-size: var(--sub-headline-font);
}

#apply-coupon,
#checkout {
    background-color: var(--main-color);
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#update-cart {
    background-color: var(--main-color);
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#apply-coupon:hover,
#update-cart:hover,
#checkout:hover {
    background-color: var(--secondary_color);
}

.remove-item {
    background-color: var(--main-color);
    width: 50%;
    color: var(--white-font);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.total-p {
    font-size: var(--headline-font);
    font-weight: 600;
}

.sub-p {
    font-size: var(--sub-headline-font);
    font-weight: 600;
}

.btn-checkout {
    width: 40%;
    background-color: var(--main-color);
    font-size: var(--sub-headline-font);
    color: var(--white-font);
    text-align: center;
    cursor: pointer;
}


.btn-checkout:hover,
.remove-item:hover {
    background-color: var(--secondary_color);
}

#cart-items tr td input {
    width: 30%;
    padding: 2px 3px;
    text-align: center;
}




/* End of cart page */

/* Start of Footer */
.footer-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--white-font);
    box-shadow: 0 0 5px var(--main-color);
    z-index: 1000;
}

.name-div a {
    font-size: var(--headline-font);
    font-weight: 600;
    color: var(--white-font);
    text-transform: capitalize;
    font-style: italic;
}

.name-div span {
    color: var(--secondary_color);
}

.social-icons {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
    border-bottom: 1px groove var(--body_font);
}

.social-icons a {
    color: var(--white-font);
    fill: var(--white-font);
}

.social-icons img {
    width: var(--headline-font);
    height: var(--headline-font);
    margin: 0 .5rem;
    color: var(--white-font);
    fill: var(--white-font);
    filter: invert(100%) brightness(1000%);

}

.footer-p p {
    text-align: center;
}

/* End of Footer */